<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="_decorator">
<head>
<title>Error #403</title>
</head>
<body>
	<section layout:fragment="content">
		<h1>Error #403</h1>
		<p th:text="${code}"></p>
		<p th:switch="${code}">
			<span th:case="'ACCOUNT_NOT_EXISTS'">账号不存在</span>
			<span th:case="'PASSWORD_NOT_MATCH'">密码不匹配</span>
		</p>
		
		<p th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></p>
	</section>
</body>
</html>