<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="_decorator">
<head>
<title>Login</title>
</head>
<body>
	<section layout:fragment="content">
		<h1>Login</h1>
		<div th:fragment="form">
			<form action="login" method="post">
				<input type="text" name="username" th:value="${param.username}">
				<input type="password" name="password">
				<input type="submit">
			</form>
		</div>
		<p th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></p>
	</section>
</body>
</html>