<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="_layout :: head" th:with="title='Login'"></head>

<body>

	<div th:include="_layout :: header"></div>
	<h1>Login</h1>
	<p th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></p>
	
	<div th:fragment="form">
		<form action="login" method="post">
			<input type="text" name="username" th:value="${param.username}">
			<input type="password" name="password">
			<input type="submit">
		</form>
	</div>
	
	<div th:include="_layout :: footer"></div>
</body>

</html>