<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="_decorator">
<head>
<title>Register</title>
</head>
<body>
	<section layout:fragment="content">
		<h1>Register</h1>

		<div th:fragment="form">
			<form action="register" method="post">
				<input type="text" name="username" placeholder="账号"> <input
					type="password" name="password" placeholder="密码"> <input
					type="submit">
			</form>
		</div>
		
		<p th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></p>
	</section>
</body>
</html>